:root {
  --knob-border: 5px solid #355242;
  --main-font: 'Arima', cursive;
}

.App {
  text-align: center;
}

html {
  height: 100%;
  width: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  /* margin: 0; */
  margin: 0 250px;
  /* margin-right: 250px;
  margin-left: 250px; */
  
  background: rgb(0,127,127);
  background: linear-gradient(0deg, rgba(0,127,127,1) 0%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* font-family: 'Arima', cursive; */
}

h1, h2, h3, h4, h5, h6, p, span, button {
  font-family : var(--main-font);
}

.app-name {
  margin-bottom: 0;
}

/* Synths */

.section-one {
  display: flex;
  max-width: 100%;
  margin: 0;
}

.synth-container {
  flex-grow: 1;
}

#synth-spectrum {
  flex-grow: 2;
  /* height: 220px; */
  border: 1px solid black;
  margin: 20px;
}

.synth-container ul button{
  display: block;
  margin-top: 24px;
}

.synth-container button {
  height: 35px;
  width: 100%;
  border-radius: 30px;
  background-color: #355242;

  background: linear-gradient(to left, #355242 50%, #63A0AC 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
}

.synth-container button span {
  transition: color 0.5s;
  font-weight: bold;
  color: white;
}

.synth-container button:hover {
  background-position: left;
}

/* .synth-active {
  background-color: green;
} */

.synth-container button:hover span {
  color: #355242;
}

.synth-container .button-active {
  background-color: #63A0AC;
  background: linear-gradient(to left, #63A0AC 100%, #63A0AC 100%) right;
}

.synth-container .button-active span {
  color: #355242;
}


/* Effects */
.section-two {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* max-width: 100%; */
  /* margin: 0; */
  /* display: flex; */
  /* margin: 0 200px; */
}

.effects-container {
  /* display: inline-flex; */
}

.effects-container ul {
  /* background: blue; */
  display: inline-flex;
  justify-content: center;
  margin: auto;
  list-style-type: none;
}

.effects-container ul li {
  padding: 10px;
}

.effects-container ul li:first-child {
  border-bottom: var(--knob-border);
}

.effects-container ul li:nth-child(2) {
  border-bottom: var(--knob-border);
  border-right: var(--knob-border);
}

.effects-container ul li:nth-child(3), .effects-container ul li:nth-child(4), .effects-container ul li:nth-child(5), .effects-container ul li:nth-child(6) {
  border-bottom: var(--knob-border);
}

.effects-container ul li:nth-child(7) {
  border-bottom: var(--knob-border);
  border-left: var(--knob-border);
}

.effects-container ul li:last-child {
  border-bottom: var(--knob-border);
}

/*Octaves */
.octaves  {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.octaves ul {
  margin: 0 auto;
  margin-bottom: 20px;
}

.octaves ul button {
  width: 100px;
  background-color: #355242;
  font-weight: bold;
  color: white;
  height: 35px;
  border-radius: 30px;
}

.octaves .button-active, .synth-container .button-active {
  color: #355242;
  background-color: #63A0AC;
}

/* ADSR */
.adsr-spectrum {
  border: 1px solid black;
  width: 600px;
  height: 150px;
  margin: 0 auto;
}

.adsr-container ul {
  display: inline-flex;
  list-style-type: none;
}

/* Piano */
.piano-container {
  display: inline-flex;
}

.piano-knob {
  padding-top: 50px;
}

/* Record Button */
.record-button {
  position: relative;
  width: 75px;
  height: 75px;
}

.record-button button {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: darkred;
}

.record-button .recording-active {
  background-color: red;
} 

footer {
  margin-top: 50px;
}